/* Container holding the image and the text */



  
.container {
    position: relative;
    text-align: top;
    color: white;
    width: 100%;
    justify-content:center;  
}
  
  header video { position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    
  }
  .overlay {padding: 200px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    list-style-type: none;}

  /* Top right text */
  .icon {
    position: absolute;
    max-width: 10%;
    padding:0;
    margin:0;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    
  }
  img{
    max-width: 25%;
    padding:0;
    margin:0;
    position: absolute;
    bottom:8px;
    right: 16px;
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background: rgb(236,0,233);
  background: linear-gradient(to bottom, rgba(236,0,233,1) 0%, rgba(117,117,222,1) 54%, rgba(255,186,0,1) 100%);;
    position: relative;
  }
  .nav > .nav-links {
    display: inline;
    float: left;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 16px 160px 24px 64px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  