/* Container holding the image and the text */



  
.container {
    position: relative;
    text-align: top;
    color: white;
    width: 100%;
    justify-content:center;  
}
  
  header video { position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Top left text */
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    color: white;
    
  }
  .overlay {padding: 200px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    list-style-type: none;}

  /* Top right text */
  .icon {
    position: absolute;
    max-width: 10%;
    padding:0;
    margin:0;
    top: 8px;
    right: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
    
  }
  img{
    max-width: 18%;
    padding:0;
    margin:0;
    position: absolute;
    bottom:8px;
    right: 16px;
  }
  /* Centered text */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }
  

  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
  }
  
  .nav {
    height:100px;
    width: 100%;
    background: rgb(5,108,219);
background: linear-gradient(180deg, rgba(5,108,219,1) 0%, rgba(215,131,90,1) 82%, rgba(34,3,150,1) 84%);position: relative;
  }
  .nav > .nav-links {
    position: absolute;
    display:inline-flex;
    justify-content: center;
    font-size: 24px;
  }
  
  .nav > .nav-links > a {
    display:grid;
    top: 50%;
    bottom: 50%;
    left: 50%;
    right: 50%;
    padding: 32px 10px 12px 20px;
    text-decoration: none;
    justify-content: center;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }

  .section{
    background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}
.sectionalt{
    display:flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.topnav{
  padding: 200px;
  display:flex;
  flex-direction: row;
  justify-content:space-around;
  list-style-type: none;
}

.topspace{
  display:inline-block;
  border: 50px;
  padding:20px;
  margin: 20px;
}

.footer {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.footerstyle{
  text-align: center;
  border: 3px solid green;
}
  
  
  